.input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

.header-line {
    background-color: skyblue;
    padding: 15px;
}

.header-line-right {
    position: absolute;
    right: 15px;
}

.main-part {
    background-color: powderblue;
    min-height:100%;
}

.name-page {
    padding: 35px;
}

html, body {
    height: 100%;
}

.results-part {
    display: inline-block;
}

.thin {
    padding: 3px;
}